<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterProductController</servlet-name>
  	<display-name>RegisterProductController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.RegisterProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImageServlet</servlet-name>
  	<display-name>ImageServlet</display-name>
  	<description></description>
  	<servlet-class>shop.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteController</servlet-name>
  	<display-name>DeleteController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.DeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductController</servlet-name>
  	<display-name>DeleteProductController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartController</servlet-name>
  	<display-name>CartController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.CartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartController1</servlet-name>
  	<display-name>CartController1</display-name>
  	<description></description>
  	<servlet-class>shop.controller.CartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddtocartServlet</servlet-name>
  	<display-name>AddtocartServlet</display-name>
  	<description></description>
  	<servlet-class>shop.controller.AddtocartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>shop.controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTocartservlet</servlet-name>
  	<display-name>AddTocartservlet</display-name>
  	<description></description>
  	<servlet-class>shop.controller.AddTocartservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTocartServlet</servlet-name>
  	<display-name>AddTocartServlet</display-name>
  	<description></description>
  	<servlet-class>shop.controller.AddTocartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>productontroller</servlet-name>
  	<display-name>productontroller</display-name>
  	<description></description>
  	<servlet-class>productontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Productontroller</servlet-name>
  	<display-name>Productontroller</display-name>
  	<description></description>
  	<servlet-class>shop.controller.Productontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>shop.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterProductController</servlet-name>
  	<url-pattern>/RegisterProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageServlet</servlet-name>
  	<url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteController</servlet-name>
  	<url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductController</servlet-name>
  	<url-pattern>/DeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartController</servlet-name>
  	<url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartController1</servlet-name>
  	<url-pattern>/CartController1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTocartServlet</servlet-name>
  	<url-pattern>//add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>productontroller</servlet-name>
  	<url-pattern>/productontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Productontroller</servlet-name>
  	<url-pattern>/Productontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>
